@import '../css/normalize.css';
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'vue-sonner/style.css';
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
